<ion-view view-title="Scalpr">
	
	<!-- These are the Navigation Buttons in the header of the login pages
	The Previous button is programmed to only show up if the slideIndex is greater than 0
	The Next button is programmed to only show up if the slideIndex is not equal to 4
	This is all configured in the "ng-show" parameter -->
	<ion-nav-buttons side="left">
		<button class="button button-positive button-clear" ng-click="previous()" ng-show="slideIndex > 0">
		Previous
		</button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right"> 
		<button class="button button-positive button-clear" ng-click="next()" ng-show="slideIndex != 4">
		Next
		</button>
	</ion-nav-buttons>
	<!-- End of the Header Navigation Buttons -->
	
	<!-- Beginning of Content Area -->
	<ion-content>
		
		<!-- This is the beggining of the Intro Slide Boxes -->
		<ion-slide-box class="has-header" on-slide-changed="slideChanged(index)" show-pager="false">
			
			<!-- Beginning of Slide Box 1 -->
			<ion-slide>
				<h3 style="text-align: center;">Thank you for choosing Scalpr!</h3>
				
				<p style="text-align: center; font-size: 16px;">We've worked super hard to make you happy.</p>
				
				<div id="logo" style="text-align: center;">
					<img src="img/Wink Logo.svg">
				</div>
			</ion-slide>
			<!-- End of 1st Slide Box -->
			
			<!-- Beginning of Slide Box 2 -->
			<ion-slide>
				<h3 style="text-align: center;">Our Goal</h3>
			
				<p style="text-align: center;">Text to go inside here</p>
			
				<div id="logo" style="text-align: center;">
					<img src="img/nearby.PNG" style="width: 50%; height: 50%;">
				</div>
			</ion-slide>
			<!-- End of 2nd Slide Box -->
			
			<!-- Beginning of Slide Box 3 -->
			<ion-slide>
				<h3 style="text-align: center;">Understanding The Thread</h3>
				
				<p style="text-align: center;">Text to go inside here</p>
				
				<div id="logo" style="text-align: center;">
					<img src="img/thread.PNG" style="width: 50%; height: 50%;">
				</div>
			</ion-slide>
			<!-- End of 3rd Slide box -->
			
			<!-- Beginning of Slide Box 4 -->
			<ion-slide>
				<h3 style="text-align: center;">Buying Reservations</h3>
				
				<p style="text-align: center;">Text to go inside here</p>
				
				<div id="logo" style="text-align: center;">
					<img src="img/profile.PNG" style="width: 50%; height: 50%;">
				</div>
			</ion-slide>
			<!-- End of 4th Slide Box -->
			
			
			<!-- Beginning of Slide Box 5 -->
			<ion-slide>
				<h3 style="text-align: center;">Don't be shy, Get Connected!</h3>
				
				<!-- Screenshot of app -->
				<div id="logo">
					<img src="img/Wink Logo.svg" class="full-image">
				</div>
				
				<!-- Login/Sign Up button is here, this just opens a Login/Sign Up modal
				it does not attempt to authenticate the user -->
				<label class="item" style="border: none; background-color: transparent;">
					<button class="button button-block button-positive" ng-click="openModal()">
					Login/Sign Up
					</button>
				</label>
				<!-- End of Login/Sign Up button -->
				
				
				<!-- Restart Tutorial Link starts here -->
				<label class="item" style="border: none; margin-top: -10%; text-align: center; background-color: transparent;" ng-show="slideIndex === 4">
					<button class="button button-positive button-clear" ng-click="restart()" style="color: #387ef5;">
						Restart Tutorial
					</button>
				</label>
				<!-- End of Restart Tutorial link -->
				
				
				<!-- This is the login Modal which includes an email and password form
				along with "Login" and "Sign Up" buttons -->
				<script id="login-modal.html" type="text/ng-template">
					<div class="modal">
					
						<ion-header-bar>
							<div style="margin-left: 5px">
								<button class="button button-small button-clear" style="font-size: 16px;" ng-click="closeModal(); reset()">
								Cancel
								</button>
							</div>
							<h1 class="title">Login</h1>
						</ion-header-bar>
						
						<ion-content style="background-color: #ffffff;" ng-controller="LoginCtrl">
							
							<div class="list">
								<label class="item item-input" style="border-left: none; border-right: none;">
									<input class="has-header" type="text" placeholder="Email" ng-model="username">
								</label>
								<label class="item item-input" style="border-left: none; border-right: none;">
									<input type="password" placeholder="Password" ng-model="password">
								</label>
							</div>
							<button ng-click="login(username, password)" class="button button-block button-positive"> 
								Login 
							</button>
							<button ng-click="register(username, password)" class="button button-block button-dark"> 
								Sign Up 
							</button>
							
							<!--<button ng-click="resetPass()" class="button button-block button-dark"> 
								Reset Password 
							</button>-->
						
						</ion-content>
					</div>
					</script>
					<!-- End of Login Modal Script -->
	

			</ion-slide>
			<!-- End of 5th slide box -->
			
			
		</ion-slide-box>
		<!-- End of Intro Slide Boxes -->
		
		
		<!-- This is where the "Skip Tutorial" link is -->
		<label class="item" style="border: none; margin-top: -5%; text-align: center; background-color: transparent;" ng-show="slideIndex != 4">
			<button class="button button-clear" ng-click="skip()" style="color: #387ef5;">
				Skip Tutorial
			</button>
		</label>
		<!-- End of Skip Tutorial link -->
	
	</ion-content>
	<!-- End of content area -->
	
</ion-view>
<!-- End of entire View area -->



<!-- This is the beginning of all sample code for other logins that were tested
including facebook and simple logins -->
<!-- ------------------------------------------------------------------------------------ -->
<!--<ion-view view-title="Login">
	<ion-content ng-controller="AppCtrl">
		<div class="row">
			<div class="col"><img src="img/Wink Logo.svg" class="full-image"></div>
		</div>
		<label class="item" style="border: none;">
			<button class="button button-block button-positive" ng-click="login()">
			Login with Facebook
			</button>
		</label>
	</ion-content>
</ion-view> -->

<!--
<ion-view view-title="Login">
	<ion-content ng-controller="AppCtrl">
		<div class="row">
			<div class="col"><img src="img/Wink Logo.svg" class="full-image"></div>
		</div>
		<label class="item">
			<button class="button button-block button-positive" ng-click="login()">
			Login with Facebook
			</button>
		</label>
	</ion-content>
</ion-view>

!! Working Simple Login Page
<ion-view view-title="Login" name="login-view">
	<ion-content>
		<div class="row">
			<div class="col"><img src="img/Wink Logo.svg" style="width: 100%; height: 200px;"></div>
		</div>
		<div class="list">
			<label class="item item-input" style="border-left: none; border-right: none;">
				<input type="text" placeholder="Email" ng-model="username">
			</label>
			<label class="item item-input" style="border-left: none; border-right: none;">
				<input type="password" placeholder="Password" ng-model="password">
			</label>
		</div>
		<button ng-click="login(username, password)" class="button button-block button-positive"> 
			Login 
		</button>
		<button ng-click="register(username, password)" class="button button-block button-dark"> 
			Register 
		</button>
  	</ion-content>
</ion-view>