<ion-view view-title="Available">
  <ion-content class="padding">
    
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Dukes - Malibu, CA</h2>
        <p>Saturday, February 14 - 6:00pm</p>
      </div>
    
      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-pricetags"></i>
          Buy - $25
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-eye"></i>
          Watch
        </a>
      </div>
    
    </div>
    
  </ion-content>
</ion-view>
