<ion-view view-title="Available">
  <ion-nav-buttons side="right">
    <a ng-controller="PostCtrl" ng-click="openModal()">    
      <button class="button button-icon button-clear ion-compose" style="color: #000000;">
      </button>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding" ng-controller="ThreadCtrl">
    
    <div class="list card" ng-repeat="post in posts">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{post.postTitle}}</h2>
        <p>Saturday, February 14 - 6:00pm</p>
      </div>
    
      <div class="item item-body">
        <p>{{post.postDescription}}</p>
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-pricetags"></i>
          Buy
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-eye"></i>
          Watch
        </a>
      </div>
    
    </div>
    
    <script id="post-modal.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar>
          <div style="margin-left: 5px">
            <button class="button button-small button-clear" style="font-size: 16px;" ng-click="closeModal(); reset()">
              Cancel
            </button>
          </div>
          <h1 class="title" style="color: white;">Write Post</h1>
        </ion-header-bar>
        <ion-content style="background-color: #ffffff;">
          <form class="list" name="postForm" method="POST" ng-controller="addController">
            <label class="item item-input item-stacked-label myBorder" style="background-color: rgba(69, 196, 150, 0.3);">
              <textarea rows="5" cols="10" placeholder="Give your post a title!" ng-model="postTitle" style="resize: none; background-color: transparent;"></textarea>
            </label>
            <label class="item item-input item-stacked-label myBorder" style="background-color: rgba(69, 196, 150, 0.3);">
              <textarea rows="5" cols="10" placeholder="Give your post a date!" ng-model="postDate" style="resize: none; background-color: transparent;"></textarea>
            </label>
            <label class="item item-input item-stacked-label myBorder" style="border: none;">
              <textarea rows="10" cols="10" placeholder="Describe your missed connection!" ng-model="postDescription" style="resize: none; background-color: transparent;"></textarea>
            </label>
            <label class="item" style="border: none; background-color: transparent;">
              <button class="button button-block button-positive" ng-model="addButton" ng-disabled="!postTitle||!postDate||!postDescription" ng-click="submitPost(); closeModal(); reset()">
              Post
              </button>
            </label>
          </form>
          
        </ion-content>
      </div>
    </script>
    
  </ion-content>
</ion-view>
